@import "../../assets/styles/general";
@import "../../assets/styles/mixins";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  // align-items: stretch;
  padding: 1rem;
  background: $bgDark;
  @include lg {
    padding: 1rem 5rem;
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  &__item {
    display: none;
    @include lg {
      display: block;
    }
    &:nth-child(2) {
      display: block;
    }

    margin: 0 0.5rem;
    & + & {
      &::before {
        content: "<";
        color: $primaryBlue;
        @include lg {
          content: "/";
          color: $dark;
        }
      }
    }
  }
}

.page-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-around;
  @include lg {
    height: 7rem;
  }
  height: 10rem;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  // justify-content: space-around;
  // align-items: center;
  @include lg {
    justify-content: flex-end;
    flex-direction: row;
  }

  &__item {
    border: 1px solid $secondaryBlue;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      padding: 0.5rem 1rem;
    }

    &--selected {
      background: $secondaryBlue;
      color: $white;
    }
  }
}

.scholarships {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;


  @include lg {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    // justify-content: center;
    // align-items: center;
  }
  &__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    padding: 2rem 3rem;
    border-radius: 3px;
    width: 100%;
    min-width: 18rem;
    height: 30rem;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.09);

    @include lg {
      width: 19rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0.5rem 0;
    }
  }
}
