@import "../../assets/styles/general";
@import "../../assets/styles/mixins";

.wrapper {
  background: $bgDark;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  background: $bgDark;
  @include lg {
    padding: 1rem 5rem;
    max-width: 1700px;
    margin: 0 auto;
    padding: 1rem 4rem;
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  &__item {
    display: none;
    @include lg {
      display: block;
    }
    &:nth-child(2) {
      display: flex;
      align-items: center;

      @include lg {
        display: block;
      }
    }

    & + & {
      &::before {
        content: "<";
        font-size: 1.5rem;
        margin: 0 1rem;
        color: $primaryBlue;
        @include lg {
          font-size: 1rem;
          content: "/";
          margin: 0 1rem;
          color: $dark;
        }
      }
    }
  }
}

.page-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-around;
  @include lg {
    height: 7rem;
  }
  height: 10rem;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  // justify-content: space-around;
  // align-items: center;
  @include lg {
    justify-content: flex-end;
    flex-direction: row;
  }

  &__item {
    border: 1px solid $secondaryBlue;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      padding: 0.5rem 1rem;
    }

    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @include lg {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:nth-child(3) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      @include lg {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &--selected {
      background: $secondaryBlue;
      color: $white;
    }
  }
}

.scholarships {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  @include lg {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
  }
  &__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    padding: 2rem 1rem;
    border-radius: 3px;
    width: 100%;
    min-width: 16rem;
    height: 24rem;
    -webkit-box-shadow: 0px 5px 8px 2px rgba(170, 170, 170, 0.6);
    -moz-box-shadow: 0px 5px 8px 2px rgba(170, 170, 170, 0.6);
    box-shadow: 0px 5px 8px 2px rgba(170, 170, 170, 0.6);
    margin: 1rem 1rem;

    @include lg {
      width: 18rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 2rem 0;
    }
  }
}
