@import "../../../../assets/styles/general";
@import "../../../../assets/styles/mixins";

.scholarship {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $white;
  padding: 2rem 1rem;
  border-radius: 3px;
  width: 100%;
  min-width: 19rem;
  height: 30rem;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.09);
  margin: 1rem 0;

  @include lg {
    width: 19rem;
    margin: 0 1rem;
  }

  &__university {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;

    &__logo {
      &--img{
        height: 3rem;
        width: 5rem;
      }
      padding: 1rem 0;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      &__rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
      }
    }

    &::after {
      content: "";
      height: 0.2rem;
      width: 100%;
      background: $secondaryGray;
      margin: 0.5rem 0;
    }

    &__period {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }

    &__price {
      display: flex;
      flex-direction: column;
      &::before {
        content: "";
        height: 0.2rem;
        width: 100%;
        background: $secondaryGray;
        margin: 1rem 0;
      }
      text-align: center;

      &__month {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0.5rem 0;
      }
    }

    &__options {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin: 1rem 0;

      &__button {
        align-items: center;
        height: 2.5rem;
        // padding: 0rem 1em;
        width: 100%;
        border-radius: 3px;
        &--outline {
          background: transparent;
          border: 2px solid $primaryBlue;
          flex: 1;
          margin-right: 0.5rem;
        }

        &--yellow {
          flex: 2;
          background: $primaryYellow;
          border: 2px solid $secondaryYellow;
        }

        &--disabled {
          flex: 2;
          background: $secondaryGray;
        }
      }
    }
  }
}
