@import "../../assets/styles/general";
@import "../../assets/styles/mixins";

.container__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $modalOverlay;
  z-index: 10;
  visibility: visible;
  &--hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  @include lg {
    width: 50rem;
  }
  margin-bottom: 1rem;
}
.modal {
  background: $white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 90%;
  @include lg {
    width: 50rem;
  }
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__top {
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      @include lg {
        width: 50%;
        &:first-child {
          padding-right: 1rem;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      align-items: flex-start;
    }

    &__type {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 1rem 0;
      @include lg {
        margin: 0;
        width: 50%;

        &:first-child {
          padding-right: 1rem;
        }
      }
      &__options {
        display: flex;
        flex-direction: row;

        &__checkbox {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 1rem;
          margin-top: 1rem;
        }
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__options {
        & > p {
          margin: 5px;
        }
      }
    }
  }
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  // margin: 1rem 0;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include lg {
      flex-direction: row;
      align-items: center;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;

    @include lg {
      justify-content: flex-end;
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 15rem;
  overflow-y: auto;
  margin: 0.5rem 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  @include lg {
    justify-content: flex-end;
  }
  // margin-top: 1rem;
  height: 2.5rem;
  border-radius: 3px;

  &__item {
    &--outline {
      background: transparent;
      border: 2px solid $primaryBlue;
      flex: 1;
      margin-right: 1rem;
    }

    &--yellow {
      flex: 2;
      background: $primaryYellow;
      border: 2px solid $secondaryYellow;
    }

    &--disabled {
      flex: 2;
      background: $secondaryGray;
      border: 2px solid $secondaryGray;
    }

    border-radius: 3px;
    padding: 0 1rem;
    @include lg {
      flex: none;
    }
  }
}
