@import "../../assets/styles/general";
@import "../../assets/styles/mixins";

.container-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $modalOverlay;
  z-index: 10;
  visibility: visible;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1rem;
  @include lg {
    width: 50rem;
    padding: 0;
  }
  margin-bottom: 1rem;
}
.modal {
  background: $white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
  max-height: 90%;
  min-width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  @include lg {
    overflow-y: none;
    min-width: 400px;
    max-width: 1000px;
    width: 50rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  //FILTER

  &__filter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__filter-top {
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
  }

  &__filter-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    @include lg {
      width: 50%;
      &:first-child {
        padding-right: 1rem;
      }
    }
  }

  &__filter-bottom {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__filter-type {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1rem 0;
    @include lg {
      margin: 0;
      width: 50%;

      &:first-child {
        padding-right: 1rem;
      }
    }
  }

  &__type-options {
    display: flex;
    flex-direction: row;
  }

  &__type-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  &__filter-price {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__price-options {
    & > p {
      margin: 5px;
    }
  }

  //SORT
  &__sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__sort-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include lg {
      flex-direction: row;
      align-items: center;
    }
  }

  &__sort-right {
    display: flex;
    flex-direction: column;

    @include lg {
      justify-content: flex-end;
    }
  }

  //RESULTS
  &__results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0.5rem 0;

    @include lg {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-height: 15rem;
      overflow-y: auto;
      margin: 0.5rem 0;
    }
  }

  //BUTTONS
  &__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @include lg {
      justify-content: flex-end;
      width: 50%;
      align-self: flex-end;
    }
    border-radius: 3px;
  }

  &__button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0 1rem;
    height: 2.5rem;
    @include lg {
      flex: none;
      padding: 0 1rem;
    }

    &--outline {
      background: transparent;
      border: 2px solid $primaryBlue;
      flex: 1;
      margin-right: 1rem;
    }

    &--yellow {
      flex: 2;
      background: $primaryYellow;
      border: 2px solid $secondaryYellow;
    }

    &--disabled {
      flex: 2;
      background: $secondaryGray;
      border: 2px solid $secondaryGray;
      cursor: not-allowed;
    }
  }
}
