@import "../../assets/styles/general";
@import "../../assets/styles/mixins";

.wrapper {
  &__top {
    height: 50%;
    background: $secondaryBlue;
  }

  &__bottom {
    height: 50%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: $primaryBlue;
  bottom: 0;
  height: 18rem;

  @include lg {
    height: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  &__top {
    display: flex;
    background: $secondaryBlue;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include lg {
      flex: 1;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1700px;
      margin: 0 auto;
      padding: 1rem 4rem;
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem 1.5rem;
      width: 33.3%;
      border: 2px solid $primaryBlue;

      @include lg {
        border: none;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        padding: 1rem 0;
      }

      &--grow {
        flex-direction: row;
        border-top: none;
        @include lg {
          width: auto;
        }
        width: 100%;
      }

      &__info {
        display: none;
        flex-direction: column;
        margin: 0 0.5rem;

        @include lg {
          display: flex;
          align-items: flex-start;

          & > p {
            margin: 0.2rem 0;
          }
        }

        &--grow {
          display: none;

          @include lg {
            display: flex;
            flex-direction: column;
          }
        }

        &--wrap {
          @include lg {
            display: none;
          }
          margin: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }

  &__bottom {
    @include lg {
      max-width: 1700px;
      margin: 0 auto;
      padding: 2.5rem 4rem;
    }
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
