$white: #fff;
$primaryBlue: #18acc4;
$secondaryBlue: #007a8d;
$primaryYellow: #fdcb13;
$secondaryYellow: #de9e1f;
$green: #0fa866;
$blackText: #1f2d30;
$primaryGray: #fbfbfb;
$secondaryGray: #F0F0F0;
$dark: #7d7d7d;
$bgDark: #fafaf9;
$modalOverlay: #1f2d30;

.text {
  &--primary {
    color: $primaryBlue;
  }

  &--secondary {
    color: $secondaryBlue;
  }

  &--green {
    color: $green;
  }
  
  &--bold {
    font-weight: bold;
  }

  &--light {
    color: $white;
  }
  
  &--s {
    font-size: 0.8rem;
  }

  &--xs {
    font-size: 0.7rem;
  }

}
